.buttons {
	display: flex;
	gap: 30px;
	justify-content: center;
}

.field {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.field i {
	position: absolute;
	top: 5px;
	right: 40px;
	cursor: pointer;
	font-size: 20pt;
}

@media (max-width: 600px) {
	.field i {
		top: 7px;
	}
}

@media (max-width: 400px) {
	.field i {
		top: 5px;
        font-size: 16pt;
        right: 30px;
	}
}
