*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

main {
    min-height: 100vh;
    margin-bottom: 100px;
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.modalWrapper{
    border-radius: 10px;
    padding: 20px;
    width: 40vw;
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:20px;
}

.modalWrapper div{
    display: flex;
    gap:30px;
}

.modalWrapper button{
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: red;
    color: white;
    border-radius: 20px;
    font-size: 14pt;
    cursor: pointer;
}

.modalWrapper button:hover{
    background-color: rgb(199, 36, 36);
}

.message {
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 15px;
}

.loader {
    width: 70px;
    height: 70px;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    animation: rotation 1s linear infinite;
}

.error {
    width: 500px;
    color: rgb(222, 13, 13);
}

.form {
    position: relative;
    width: 40vw;
    margin: 30px auto;
    padding: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}

.form .field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form input,
.form textarea,
.form select {
    width: 500px;
    border-radius: 9px;
    height: 40px;
    font-size: 14pt;
    padding-left: 10px;
}
.form input[type="file"]{
    display: none;
}
.fileInput{
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: red;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.fileInput:hover {
    background-color: rgb(199, 36, 36);
}
.inputFileWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16pt;
}

.form textarea{
    height: 70px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.form button {
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: red;
    color: white;
    border-radius: 20px;
    font-size: 16pt;
    cursor: pointer;
}

.form button:hover {
    background-color: rgb(199, 36, 36);
}

.form a {
    color: grey;
}

.form a:hover {
    color: silver;
}

.form i {
    font-size: 25pt;
}

.form .field i {
    position: absolute;
    top: 42px;
    right: 40px;
    cursor: pointer;
    font-size: 20pt;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1300px) {
    .form {
        width: 80vw;
    }
}

@media (max-width: 620px) {
    .inputFileWrapper{
        font-size: 14pt;
    }
    body {
        font-size: 12pt;
    }

    .form button {
        font-size: 12pt;
    }

    .modalWrapper{
        width: 80vw;
    }

    .form input,
    .form textarea,
    .form select {
        width: 300px;
        font-size: 12pt;
    }

    .error {
        width: 300px;
    }

    .form i {
        font-size: 20pt;
    }

    .form .field i {
        top: 35px;
        right: 40px;
    }
}

@media (max-width: 400px) {
    .inputFileWrapper{
        font-size: 10pt;
    }
    .fileInput{
        padding: 5px 10px 5px 10px;
    }
    .form button {
        font-size: 10pt;
        padding: 5px 10px 5px 10px;
    }
    body {
        font-size: 10pt;
    }
    .form input,
    .form textarea,
    .form select{
        width: 200px;
        height: 30px;
        font-size: 10pt;
    }
    .error {
        width: 175px;
    }

    .form .field i {
        font-size: 16pt;
        top: 30px;
        right: 20px;
    }
}
