.navigation {
    width: 100%;
    background-color: rgb(238, 20, 20);
    padding: 20px;
}

.navigation nav ul img {
    width: 80px;
    height: 80px;
    clip-path: circle(50%);
}

.navigation nav ul {
    display: flex;
    gap: 20px;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    align-items: center;
}

@media (max-width: 620px) {
    .navigation nav ul {
        font-size: 12pt;
        flex-direction: column;
        align-items: center;
    }

    .navigation nav ul img {
        width: 50px;
        height: 50px;
    }
}
