.navigation{
    width:100%;
    background-color: rgb(238, 20, 20);
    padding: 20px;
}

.navigation nav ul{
    display: flex;
    gap:20px;
    color: white;
    font-size:14pt;
    font-weight: bold;
}

@media(max-width:620px){
    .navigation nav ul{
        font-size: 12pt;
        flex-direction: column;
        align-items: center;
    }
}