.notFoundwrapper{
    margin: 30px auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    background-color: rgb(238, 20, 20);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.notFoundwrapper a{
    color: rgb(194, 194, 194);
}

.notFoundwrapper a:hover{
    color: #EEE;
}

@media(max-width:620px){
    .notFoundwrapper{
        width: 80%;
    }
}