.detailsWrapper {
    margin: 30px auto;
    padding: 20px;
    width: 70vw;
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detailsWrapper .header {
    width: 100%;
    height: 520px;
    display: flex;
    gap: 20px;
}

.detailsWrapper .header .left {
    flex: 0 0 45%;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.detailsWrapper .header .right {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;
}

.detailsWrapper .header .right h2{
    width: 100%;
    word-wrap: break-word;
}

.right .buttons{
    display: flex;
    align-items: center;
    gap:20px;
}

.buttons button{
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: red;
    color: white;
    border-radius: 20px;
    font-size: 14pt;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgb(199, 36, 36);
}

.buttons .added{
    cursor: default;
    background-color: rgb(3, 166, 3);
}

.buttons .added:hover{
    background-color: rgb(3, 166, 3);
}

.buttons i{
    font-size: 20pt;
    cursor: pointer;
}

.buttons .likes{
    margin-bottom: -20px;
}

.buttons .likes #liked{
    color: red;
}

.detailsWrapper .body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px
}

.body .description{
    width: 100%;
    align-self: flex-start;
    word-wrap: break-word;
}

.body .characteristics{
    padding: 20px;
    width: 100%;
    background-color: silver;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}

.body .characteristics div{
    padding: 5px;
    width: 100%;
    border-bottom: 1.5px solid black;
    text-align: center;
}

@media(max-width:720px){
    .detailsWrapper .header{
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .detailsWrapper .header .right{
        gap:15px
    }
    .buttons i{
        font-size: 16pt;
    }

    .buttons button{
        font-size: 12pt;
    }
}

@media(max-width:400px){
    .buttons button{
        padding: 5px 10px 5px 10px;
        font-size: 10pt;
    }
}